/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0 17rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -17rem;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
    margin-right: 10px;
}

header nav a {
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.product-grid {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 250px;
}

.product-img {
    background-color: #ddd;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-card p {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.product-card a {
    color: #0073e6;
    text-decoration: none;
}

.product-card a:hover {
    text-decoration: underline;
}
.product-grid {
    flex-wrap: wrap;
    margin: 0 -1rem;
}
